/* Adjust this to change the size of the whole pen */
html {
  font-size: 2vw; }

body {
  /*    margin: 0;
      padding: 0;
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #C9C9C9 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
      background: -webkit-linear-gradient(top, #ffffff 0%,#C9C9C9 100%); 
      background: -o-linear-gradient(top, #ffffff 0%,#C9C9C9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%,#C9C9C9 100%);
      background: linear-gradient(to bottom, #ffffff 0%,#C9C9C9 100%);
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;*/ }
  body .system-container#gbasp {
    width: 40.0rem;
    height: 73.0rem;
    margin: 2.0rem auto;
    user-select: none;
    -webkit-user-select: none;
    /*        .d-pad .left {
                width: 8rem;
                height: 3rem;
                position: absolute;
                 content: ''; 
                 background-color: #333; 
                left: -8rem;
                top: 2.6rem;
            }
            
            .d-pad .right {
                width: 8rem;
                height: 3rem;
                position: absolute;
                left: 2.4rem;
                top: 2.6rem;
            }
            
            .d-pad .up {
                width: 3.0rem;
                height: 8rem;
                position: absolute;
                top: -5.5rem;
                left: -.2rem;
            }
            
            .d-pad .down {
                width: 3.0rem;
    height: 8rem;
                        position: absolute;
                        top: 5.5rem;
                        left: -.2rem;
                    }*/ }
    body .system-container#gbasp .screen-body {
      background-color: #708090;
      width: 40.0rem;
      height: 34.0rem;
      border-radius: 2.4rem;
      position: relative;
      padding: 2.0rem;
      box-sizing: border-box;
      border: 0.3rem solid #4e5a65;
      border-right-color: #a9b3bd;
      border-top-color: #8d9aa6; }
      body .system-container#gbasp .screen-body:before {
        content: '';
        width: 18.0rem;
        height: .8rem;
        background-color: #708090;
        position: absolute;
        bottom: -.8rem;
        z-index: -1;
        left: 2.0rem;
        border-right: 0.2rem solid #a9b3bd;
        -webkit-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
        box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75); }
      body .system-container#gbasp .screen-body:after {
        content: '';
        width: 3.2rem;
        height: .8rem;
        background-color: #708090;
        position: absolute;
        bottom: -.8rem;
        z-index: -1;
        left: 32.0rem;
        border-right: 0.2rem solid #a9b3bd;
        -webkit-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
        box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75); }
    body .system-container#gbasp .screen-border {
      background-color: #333;
      width: 100%;
      margin: 1.6rem auto;
      height: 26.8rem;
      box-sizing: border-box;
      border: 0.4rem solid #c6cdd3;
      border-radius: .8rem;
      border-top-color: #384048;
      border-right-color: #4e5a65;
      border-bottom-color: #a9b3bd;
      text-align: center;
      padding-top: 5%; }
      body .system-container#gbasp .screen-border img {
        /*                position: absolute;
                        left: 11.2rem;
                        bottom: 3.6rem;
                        opacity: .8;
                        width: 17.5rem;*/ }
    body .system-container#gbasp .gameboy-screen {
      background-color: #777788;
      margin: 2.0rem auto;
      width: 90%;
      /*height: 21.0rem;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333333;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: inline-block; }
      body .system-container#gbasp .gameboy-screen .layer {
        position: absolute;
        /* left: 11.2rem; */
        /* bottom: 3.6rem; */
        /* opacity: .8; */
        /* width: 17.5rem; */
        top: 0;
        left: 0; }
    body .system-container#gbasp .screen-bumper {
      border-radius: 100%;
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      background: radial-gradient(circle at top left, #8d9aa6, #434d57);
      border: 0.2rem solid #434d57; }
    body .system-container#gbasp #bumper-ul {
      left: 1.0rem;
      top: .6rem; }
    body .system-container#gbasp #bumper-ur {
      right: 1.0rem;
      top: .6rem; }
    body .system-container#gbasp #bumper-ll {
      left: 1.2rem;
      bottom: 0.4rem; }
    body .system-container#gbasp #bumper-lr {
      right: 1.2rem;
      bottom: 0.4rem; }
    body .system-container#gbasp #bumper-tm {
      left: calc(50% - 1.0rem);
      top: .8rem; }
    body .system-container#gbasp .small-bumper {
      width: 1.6rem;
      height: 1.6rem;
      background: radial-gradient(circle at bottom left, #708090, #434d57);
      border-width: .1rem;
      border-left-color: #7e8d9b;
      border-bottom-color: #7e8d9b; }
    body .system-container#gbasp .swivel {
      width: 100%;
      border-radius: 1.6rem;
      height: 4.8rem;
      background-color: #708090;
      position: relative;
      top: .4rem;
      -webkit-box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
      box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
      border-top: 0.2rem solid #7e8d9b;
      z-index: 15; }
      body .system-container#gbasp .swivel:before {
        content: '';
        width: 18.0rem;
        height: 4.5rem;
        position: absolute;
        bottom: -2.0rem;
        z-index: 1;
        left: 2.2rem;
        top: .0rem;
        border-right: 0.2rem solid #a9b3bd;
        border-left: 0.2rem solid #384048;
        border-bottom: 0.3rem solid #000101;
        -webkit-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
        -moz-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
        box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2); }
      body .system-container#gbasp .swivel:after {
        content: '';
        width: 3.2rem;
        height: 4.5rem;
        position: absolute;
        bottom: -2.0rem;
        z-index: 1;
        left: 32.2rem;
        top: .0rem;
        border-right: 0.2rem solid #a9b3bd;
        border-left: 0.2rem solid #434d57;
        border-bottom: 0.3rem solid #000101;
        -webkit-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
        -moz-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
        box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2); }
    body .system-container#gbasp .gamepad-body {
      background-color: #708090;
      width: 40.0rem;
      height: 36.0rem;
      border-radius: 2.4rem;
      position: relative;
      padding: 2.0rem;
      box-sizing: border-box;
      border: 0.3rem solid #4e5a65;
      border-right-color: #a9b3bd;
      border-top-color: #8d9aa6;
      z-index: 10;
      top: -2.8rem; }
    body .system-container#gbasp .pad-container {
      width: 11.0rem;
      height: 11.0rem;
      border: 0.8rem solid #434d57;
      border-radius: 100%;
      position: absolute;
      left: 2.0rem;
      top: 10.0rem;
      border-top-color: #2d343a;
      border-left-color: #8d9aa6;
      border-bottom-color: #7e8d9b;
      box-sizing: content-box; }
    body .system-container#gbasp .d-pad.perspective-container {
      perspective-origin: center;
      perspective: 400px; }
    body .system-container#gbasp .d-pad.press-right {
      transform: rotateY(30deg); }
    body .system-container#gbasp .d-pad.press-left {
      transform: rotateY(-30deg); }
    body .system-container#gbasp .d-pad.press-up {
      transform: rotateX(30deg); }
    body .system-container#gbasp .d-pad.press-down {
      transform: rotateX(-30deg); }
    body .system-container#gbasp .d-pad.buttons {
      width: 2.8rem;
      height: 8.4rem;
      background-color: #333;
      position: relative;
      margin: 1.2rem auto;
      box-sizing: border-box;
      border: 0.2rem solid black;
      border-top: 0.2rem solid #666666;
      border-right: 0.2rem solid #666666; }
      body .system-container#gbasp .d-pad.buttons:before {
        width: 3.0rem;
        height: 2.8rem;
        position: absolute;
        content: '';
        background-color: #333;
        left: -2.8rem;
        top: 2.6rem;
        border-bottom: 0.2rem solid black;
        border-left: 0.2rem solid black;
        border-top: 0.2rem solid #666666;
        box-sizing: border-box; }
      body .system-container#gbasp .d-pad.buttons:after {
        width: 3.0rem;
        height: 2.8rem;
        position: absolute;
        content: '';
        background-color: #333;
        left: 2.3rem;
        top: 2.6rem;
        border-top: 0.2rem solid #666666;
        border-right: 0.2rem solid #666666;
        border-bottom: 0.2rem solid black;
        box-sizing: border-box; }
    body .system-container#gbasp .buttons-container {
      width: 12.4rem;
      height: 5.1rem;
      border: 0.8rem solid #434d57;
      border-radius: 11.0rem;
      position: relative;
      left: 20.8rem;
      top: 10.4rem;
      border-top-color: #2d343a;
      border-left-color: #8d9aa6;
      border-bottom-color: #7e8d9b;
      transform: rotate(-12deg); }
    body .system-container#gbasp .b-button,
    body .system-container#gbasp .a-button {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      line-height: 4.0rem;
      font-size: 2.2rem;
      color: #404040;
      transform: rotate(12deg);
      text-align: center;
      width: 4.0rem;
      height: 4.0rem;
      background-color: #333;
      border-radius: 100%;
      position: absolute;
      left: .8rem;
      top: .5rem;
      box-sizing: border-box;
      border: .2rem solid;
      border-color: #4d4d4d;
      border-left-color: #262626;
      border-bottom-color: #262626; }
    body .system-container#gbasp .touch-target {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      line-height: 4.0rem;
      font-size: 2.2rem;
      color: none;
      transform: none;
      text-align: initial;
      background-color: transparent;
      border-radius: initial; }
      body .system-container#gbasp .touch-target.d-pad {
        position: absolute;
        width: 22rem;
        left: -6rem;
        height: 20rem;
        top: -4.5rem;
        border: 1px solid black; }
      body .system-container#gbasp .touch-target.a-button {
        width: 9rem;
        left: 7rem;
        height: 14rem;
        top: -4.5rem;
        border: 1px solid black; }
      body .system-container#gbasp .touch-target.b-button {
        width: 9rem;
        height: 14rem;
        left: -2.5rem;
        top: -4.5rem;
        border: 1px solid black;
        position: absolute; }
    body .system-container#gbasp .a-button.button {
      left: 7.6rem; }
    body .system-container#gbasp .power-container {
      width: 2.0rem;
      height: 2.0rem;
      position: absolute;
      left: 18.0rem;
      top: 5.2rem;
      border-width: .5rem; }
    body .system-container#gbasp .power-button {
      width: 2.0rem;
      height: 2.0rem;
      position: absolute;
      left: 0;
      top: 0;
      color: #fff; }
    body .system-container#gbasp .speaker-holder {
      width: 8.0rem;
      height: 8.0rem;
      position: absolute;
      top: 20.0rem;
      left: 15.0rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
    body .system-container#gbasp .dot {
      width: .3rem;
      height: .3rem;
      background-color: #000;
      margin: .8rem;
      border-radius: 100%; }
    body .system-container#gbasp .large-dot {
      width: .5rem;
      height: .5rem;
      border-radius: .5rem; }
    body .system-container#gbasp .select-container, body .system-container#gbasp .start-container {
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      left: 14.6rem;
      top: 30.0rem; }
    body .system-container#gbasp .start-container {
      left: 19.8rem; }
    body .system-container#gbasp .select-button, body .system-container#gbasp .start-button {
      position: absolute;
      height: 1.8rem;
      width: 1.8rem;
      left: .3rem;
      top: .1rem; }
    body .system-container#gbasp .a-button:active {
      /*background-color: lighten($darkgrey, 40%);*/ }
    body .system-container#gbasp .select-label, body .system-container#gbasp .start-label {
      position: absolute;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 1.2rem;
      left: 14.8rem;
      bottom: 5.6rem;
      color: #4e5a65;
      z-index: 2; }
    body .system-container#gbasp .start-label {
      left: 20.2rem; }
    body .system-container#gbasp .start-label + .start-label {
      left: 20.1rem;
      bottom: 5.7rem;
      color: #8d9aa6;
      z-index: 1; }
    body .system-container#gbasp .select-label + .select-label {
      color: #8d9aa6;
      left: 14.7rem;
      bottom: 5.7rem;
      z-index: 1; }
    body .system-container#gbasp .power-light {
      position: absolute;
      width: 1.4rem;
      height: 1.2rem;
      background-color: #333;
      right: -.4rem;
      top: 5.0rem; }
    body .system-container#gbasp .power-light + .power-light {
      top: 8.0rem; }

@media (min-width: 480px) {
  html {
    font-size: 2.5vw; } }
@media (min-width: 600px) {
  html {
    font-size: 1.2vw;
    font-size: 2vw; } }
@media (min-width: 720px) {
  html {
    font-size: .8vw;
    font-size: 1.5vw; } }
@media (min-width: 990px) {
  html {
    font-size: 1.2vw; } }
@media (min-width: 1600px) {
  html {
    font-size: .35vw; } }

/*# sourceMappingURL=gameboy.css.map */
