html, body, h1, h2, h3, h4,h5, h6, p, label, button {
    font-family: 'Open-Sans', sans-serif;   
    font-weight: 100;
}

body {
    background-color: #eee;
}

header {
    z-index: 10;
    position: relative;
}

.mapWrapper {
    width: 100%;   
}

#floor-1F {
    border: 1px solid grey;
}

img, canvas {

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;

}

.mapWrapper:focus {
    outline: none;
}
    


#player-div {
    //position: absolute;
    border: 2px solid turquoise;
    height: 16px;
    width: 16px;
}

.player-draggie {
    //position: absolute;
    opacity: 0;
    width: 100%;
}

.ui-draggable-dragging .drag-icon {
    opacity: 0;
}

.btn {
    margin: 10px 10px 10px 0px;   
}

.dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 36px;   
    /*background: none;*/
    /*background: url('../images/down-arrow-small.png') no-repeat right center;*/
    height: 34px;
    width: 240px;
    border: 2px solid slategrey;
    border-radius: 0;
    padding-left: 10px;
    
}

.dropdown {
    margin-bottom: 30px; 
    
}

.dropdown option {
    padding: 10px 10px;
}

#gameboy {
/*    border: 10px solid #8dd9e2; 
    width: 100%;*/
}



butto, select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
}



button:focus {
  outline: none
}

select:focus {
  outline: none
}

.button-3D {
  color: #fff;
  background-color: #cb2d3e;
  background-image: linear-gradient(top, #ef473a, #cb2d3e);
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.button-3D:hover,
.button-3D.hover {
  box-shadow: 5px 5px 15px #777;
}

.button-3D:active,
.button-3D.active {
  box-shadow: inset 0 5px 30px #7b4d53;
}


@media all and (max-width: 960px) { 
  button {
    font-size: 30px
  }
}
@media all and (max-width: 720px) { 
  button {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media all and (max-width: 540px) { 
  section {
    text-align: center
  }
  button {
    margin: 0 10px 20px 10px;
    font-size: 16px;
  }
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #eee;
    border-top: 1px solid #a4a4a5;
    width: 50%;
}


select {
    /*background:  url(../images/down_caret.png) no-repeat 90% center;*/
    width: 100%;
    text-align-last: center;
}

section .section-heading {
    margin-bottom: 25px;   
}

section {
    margin: 20px 0px 20px 0px;   
}

.caveWrapper, .monitor-scree {

    display: inline-block;
    display: inline-block;
    background-color: #333;
    box-sizing: border-box;
    border: 0.4rem solid #c6ccd3;
    border-top-color: #384048;
    border-right-color: #4e5a65;
    border-bottom-color: #a9b3bd;
}

.caveWrapperBackground, .monitor-fram {
    background-color: slategrey;
    display: block;
    position: relative;
    background-color: #708090;
    position: relative;
    border: 0.3rem solid #4e5a65;
    border-right-color: #a9b3bd;
    border-top-color: #8d9aa6;
    display: inline-block;
    padding-top: 20px;
    box-shadow: 40px 40px 40px rgba(162, 162, 162, 1);
    width: 100%;
}

.no-padding {
    margin: 0;
    padding: 0;
}

.extra-padding {
    padding: 25px 35px;
}

.full-width {
    width: 100%;
}



.content {
    padding-top: 0;
}

.navbar {
    margin-bottom: 0px;
}


.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



.fix-to-top {
  position: fixed;
  top: 0;
}


footer {
    height: 80px;
    margin-top: 70px;
    background-color: #777;
    position: relative;
}

footer p {
    color: white;
}

footer .container {
    height: 100%;
}

footer .row {
    height: 100%;
}

.justify-content-center {
    justify-content: center;
}



.consoleWrapper {
    
    overflow-x: hidden;
    height: 100vh;
    background-color: #e6e6e6;
    /* padding-right: 3rem; */
    /* padding-top: 3rem; */
    /*overflow: hidden;*/
    /* direction: rtl; */
    padding: 1.5em;
    box-shadow: 10px 0px 10px #ccc;
    
}

.consoleWrapper:hover {
    overflow-y: scroll;
}


.monitor-frame {
    background-color: slategrey;
    display: block;
    position: relative;
    background-color: #708090;
    position: relative;
    /* border: 0.3rem solid #4e5a65; */
    /* border-right-color: #a9b3bd; */
    /* border-top-color: #8d9aa6; */
    display: inline-block;
    padding: 4.5em 2.5em;
    box-shadow: 40px 40px 40px rgba(162, 162, 162, 1);
/*    width: 100%;*/
    border-radius: 2em;
    border-radius: 3.75em;
    background-color: #333;
        margin: 0 auto;
    min-width: 85%;
}


.monitor-screen {
    display: inline-block;
    display: inline-block;
    background-color: #333;
    box-sizing: border-box;
    border: 0.25rem solid #c6ccd3;
    border-top-color: #384048;
    border-right-color: #4e5a65;
    /* margin: 30px 0px; */
    border-bottom-color: #a9b3bd;
    border-color: #4d4d4d;
    border-left-color: #262626;
    border-bottom-color: #262626;
    /* width: 85%; */
    border-radius: 9px;
}

#monitor {
    border-radius: 5px;   
}


.button-flat {
    color: #fff;
    background-color: #cb2d3e;
    background-image: linear-gradient(top, #ef473a, #cb2d3e);
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #eee;
    color: #333;
    border: 2px solid #676767;
    padding: .5em 1em;
    margin-right: 20px;
    transition: transform .1s;
    font-weight: bold;
    /* background-color: #e6e6e6; */
    width: 100%;
    margin: .5em 0em;
    height: 40px;
    
}

.button-flat.hover, .button-flat:hover {
    border-color: #cb2d3e;
    color: #cb2d3e;
}

.button-flat:active, .button-flat.active {
    box-shadow: inset 0 5px 30px #7b4d53;
    border-color: #cb2d3e;
    color: #cb2d3e;
    transform: translate(0px, 2px);
}

.disabled, .disabled:active, .disabled:hover {
    cursor: not-allowed;
    opacity: .65;
    border-color: grey;
    opacity: .65;
    color: grey;
    box-shadow: none;
    color: grey;
    transform: none;
}


p.or {
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin: 5px 0px;
}

div.div-padding {
    padding: 30px;   
}



#test1, #test2, #test3, #test4 {
    border: 2px solid black;
    float: right;
}

.vcr .row {
    margin: 0 auto;
}

.vcr [class*='col-'] {
    padding: 0;
}

.vcr .button-flat {
    border-left-width: 1px;
}

.vcr .button-flat.normal-border-width {
    border-left-width: 2px;
}

.weight-header {
    font-weight: bold;
    margin: 30px 0px;
}

.row-slider {
    margin: 10px 0px;
}

.edge-weight-sliders {
    height: 260px;
    display: inline-block;
    margin: 0;
    -webkit-transition: .5s linear;
    transition: height .5s linear;
    overflow-y: hidden;
}

.edge-weight-sliders.ng-hide-add,
.edge-weight-sliders.ng-hide-remove {
  display: inline-block !important;
  overflow-y: hidden !important;
  height: 0px;
}

.edge-weight-sliders.ng-hide-remove.ng-hide-remove-active {
  height: 260px;
}

.edge-weight-sliders.ng-hide-add{
  height: 260px;
}

.edge-weight-sliders.ng-hide-add.ng-hide-add-active {
  height: 0;
}

/* Button */
/*.button, input[type=button], input[type=submit], button {
	text-decoration: none;
	border-color:#888;
	border-color:rgba(0, 0, 0, 0.56);
	cursor: pointer;
	outline: none;
	color:#111;
	font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
	display:inline-block;
	vertical-align:top;
	position:relative;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	background-color:#aaa;
	background-image:url(gradient.png);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
	background-image: linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-repeat:repeat-x;
	text-shadow:1px 1px 0 rgba(255,255,255,.67);
	line-height:2;
	margin:0 0 2em 1em;
	padding:0 1em;
	height:2em;
	-moz-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	-webkit-transition: background .185s linear;
	-moz-transition: all .185s linear;
	-o-transition: all .185s linear;
	transition: all .185s linear;
	* Make the text unselectable *
	-moz-user-select: none;
	-webkit-user-select: none;
}
.button, .button:after, button, button:after, input[type=submit], input[type=button] {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-width:1px;
	border-style:solid;

}
.button:after, button:after{
	display:block;
	position:absolute;
	content:' ';
	width:100%;
	height:100%;
	border-color: transparent transparent #ccc;
	border-color: transparent transparent rgba(255, 255, 255, 0.67);
	bottom:-2px;
	left:-1px;
}
.button:hover, .button:focus, button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus {
	background-color:#a8c0cb;
}
.button:active, button:active, input[type=submit]:active, input[type=button]:active {
	line-height:2.2;
	-moz-box-shadow
		:0 .33em 1em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
	-webkit-box-shadow:
		0 .33em 2em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
	box-shadow:
		0 .33em 2em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
		-webkit-transition: line-height .1s linear;
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		transition: all .1s linear;
}
.button.bg, .button.bg:hover, .button.bg:focus {
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
}*/

    