html, body, h1, h2, h3, h4,h5, h6, p, label, button {
    font-family: 'Open-Sans', sans-serif;   
    font-weight: 100;
}

body {
    background-color: #eee;
}

.mapWrapper {
    width: 100%;   
}

#floor-1F {
    border: 1px solid grey;
}

img, canvas {

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;

}

.mapWrapper:focus {
    outline: none;
}
    


#player-div {
    //position: absolute;
    border: 2px solid turquoise;
    height: 16px;
    width: 16px;
}

.player-draggie {
    //position: absolute;
    opacity: 0;
    width: 100%;
}

.ui-draggable-dragging .drag-icon {
    opacity: 0;
}

.btn {
    margin: 10px 10px 10px 0px;   
}

.dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 36px;   
    background: none;
    background: url('../images/down-arrow-small.png') no-repeat right center;
    height: 34px;
    width: 240px;
    border: 2px solid slategrey;
    border-radius: 0;
    padding-left: 10px;
}

.dropdown {
    margin-bottom: 30px; 
    
}

.dropdown option {
    padding: 10px 10px;
}

#gameboy {
    border: 10px solid #8dd9e2; 
    width: 100%;
}



button, select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
button:focus {
  outline: none
}

.button-3D {
  color: #fff;
  background-color: #cb2d3e;
  background-image: linear-gradient(top, #ef473a, #cb2d3e);
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.button-3D:hover,
.button-3D.hover {
  box-shadow: 5px 5px 15px #777;
}

.button-3D:active,
.button-3D.active {
  box-shadow: inset 0 5px 30px #7b4d53;
}


@media all and (max-width: 960px) { 
  button {
    font-size: 30px
  }
}
@media all and (max-width: 720px) { 
  button {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media all and (max-width: 540px) { 
  section {
    text-align: center
  }
  button {
    margin: 0 10px 20px 10px;
    font-size: 16px;
  }
}


select {
    background:  url(../images/down_caret.png) no-repeat 90% center;
    width: 100%;
}

section .section-heading {
    margin-bottom: 25px;   
}

section {
    margin: 20px 0px 20px 0px;   
}

.caveWrapper {
    /*box-shadow: 20px 20px 20px rgba(84, 92, 101, 0.99);*/
    display: inline-block;
    /*margin: 50px 0px;*/
    
    /* box-shadow: 20px 20px 20px rgba(84, 92, 101, 0.99); */
    display: inline-block;
    /* margin: 50px 0px; */
    background-color: #333;
    /* width: 100%; */
    /* margin: 1.6rem auto; */
    /* height: 26.8rem; */
    box-sizing: border-box;
    border: 0.4rem solid #c6ccd3;
    /* border-radius: .8rem; */
    border-top-color: #384048;
    border-right-color: #4e5a65;
    border-bottom-color: #a9b3bd;
}

.caveWrapperBackground {
    background-color: slategrey;
    display: block;
    /* width: 100%; */
    /* text-align: center; */
    position: relative;
    background-color: #708090;
    /* width: 40.0rem; */
    /* height: 34.0rem; */
    /* border-radius: 2.4rem; */
    position: relative;
    /* padding: 2.0rem; */
    /* box-sizing: border-box; */
    border: 0.3rem solid #4e5a65;
    border-right-color: #a9b3bd;
    border-top-color: #8d9aa6;
    /* width: auto; */
    display: inline-block;
    padding: 40px;
    box-shadow: 40px 40px 40px rgba(162, 162, 162, 1);
}

.no-padding {
    margin: 0;
    padding: 0;
}

.extra-padding {
    padding: 0px 35px;
}

.full-width {
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    opacity: .65;
    background-color: grey;
    opacity: .65;
    color: #101010;
}

    