<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Poke-Path Finder</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        
        <!-- AngularJS --> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.min.js"></script> 

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        
        
        
        <script src="js/graph/graph.js"></script>
        <script src="js/graph/pathfinding.js"></script>
        
        <script src="js/game/game.js"></script>
        
        <script src="js/floor/floor_data.js"></script>
        <script src="js/floor/floor.js"></script>
        <script src="js/floor/tile.js"></script>
        
        <script src="js/map/map_data.js"></script>
        <script src="js/map/map.js"></script>
        
        <script src="js/sprite/sprite.js"></script>
        <script src="js/sprite/spritesheet.js"></script>
        <script src="js/sprite/spritesheet_data.js"></script>        
        
        <script src="app/app.js"></script> 
        <script src="app/services/services.js"></script> 
        <script src="app/controllers/controllers.js"></script> 
        
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
        
        
    </head>
    
    <body ng-app="pokemonApp">

    <header>
        <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand" href="#!">Poké PathFinder</a>
                     
                </div>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a class="link" href="">Link</a></li>
                  </ul>
              </div><!-- /.container-fluid -->
            </nav>
    </header>
        
        <div class="map-files" style="display: none">
            <img id="spritesheet" src="images/spritesheet.png">
            <img id="tile-rock" src="images/map/tile_rock.png">
            <img id="F1-floor" src="images/map/F1.png">
            <img id="F2-floor" src="images/map/F2.png">
            <img id="BF1-floor" src="images/map/BF1.png">
        </div>
        
    <div >
        <div class="container">
            <div class="row">
                <div ng-controller='mainController' ng-mousemove="highlightTile($event)">
                    <div class="col-sm-6 col-md-7">
                        <div class="mapWrapper"
                             tabindex="0"
                             ng-keyup="cancelDirection($event)"
                             ng-keydown="changeDirection($event)">
                            <canvas id="F1-canvas"></canvas>
                        </div>
                        <div class="mapWrapper"
                             tabindex="0"
                             ng-keypress="moveSprite($event)"
                             ng-keyup="cancelDirection()">
                            <canvas id="F2-canvas"></canvas>
                        </div>
                        <div class="mapWrapper"
                             tabindex="0"
                             ng-keypress="moveSprite($event)"
                             ng-keyup="cancelDirection()">
                            <canvas id="BF1-canvas"></canvas>
                        </div>
                    </div>
                </div>
                <div ng-controller="userController">
                    <div class="col-sm-6 col-md-5">
                        <div class="row">
                            <div class="col-sm-12">                                
                                
                                <h4>Choose Algorithm</h4>
                                <div class="dropdon">
                                     <select ng-options="option.label for option in algorithms.options track by option.id" ng-model="algorithms.selected"></select>
                                </div>
                                
                                <hr>

                                <h4>Choose Start</h4>
                                <div class="row">
                                    <div class="col-xs-5">         
                                        <div class="dropdow">
                                            <select ng-model="tiles.startTile" ng-options="tile.label for tile in tiles.options track by tile.id"></select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-2"><span>-or-</span></div>
                                    
                                    <div class="col-xs-5">                   
                                        <button>Click Start Tile</button>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <h4>Choose End</h4>
                                <div class="row">
                                    <div class="col-xs-5">         
                                        <div class="dropdow">
                                            <select ng-model="tiles.endTile" ng-options="tile.label for tile in tiles.options track by tile.id"></select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-2"><span>-or-</span></div>
                                    
                                    <div class="col-xs-5">                   
                                    <div class="btn btn-primary" ng-click="">Click End Tile</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="btn btn-primary" ng-click="findPath()">Find Route</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="btn btn-primary" ng-click="findPath()">Clear Route</div>
                                </div>
                                
                                <hr>
                                
                                <h4>Choose Layers</h4>
                                
                                <div class="btn btn-primary" 
                                     ng-click="clickBitmapLayer()"
                                     ng-class="{ active: layer.click === 'bitmap' }" 
                                     ng-mouseenter="enterBitmapLayer()" 
                                     ng-mouseleave="leaveBitmapLayer()">Bitmap Layer</div>



                                <div class="btn btn-primary" 
                                     ng-click="clickGraphicLayer()"
                                     ng-class="{ active: layer.click === 'graphic' }" 
                                     ng-mouseenter="enterGraphicLayer()" 
                                     ng-mouseleave="leaveGraphicLayer()">Graphic Layer</div>

                                <div class="btn btn-primary" 
                                     ng-click="clickRowsCols()"
                                     ng-class="{ active: rowscols.click }" 
                                     ng-mouseenter="enterRowsCols()" 
                                     ng-mouseleave="leaveRowsCols()">Grid Lines</div>


                                <div class="btn btn-primary" 
                                     ng-click=""
                                     ng-class="" 
                                     ng-mouseenter="" 
                                     ng-mouseleave="">Edges</div>

                                <div class="btn btn-primary" 
                                     ng-click=""
                                     ng-class="" 
                                     ng-mouseenter="" 
                                     ng-mouseleave="">Highlight Ladders</div>

                            </div>
                        </div>
                        
                        <hr>



                    </div>
            </div>
            </div>
        
        </div>
        
        
    </div>
        
        <div>
        
        
            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <canvas id="gameboy"></canvas>
                </div>
            </div>
        </div>
        
    </body>    
</html>