<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Poke-PathFinder</title>
        <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">           
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
        
        <!-- AngularJS --> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-messages.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-touch.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script> 
            
        <script src="app/app.js"></script> 
        <script src="app/services/services.js"></script> 
        <script src="app/controllers/user-console-controller.js"></script> 
        <script src="app/controllers/gameboy-controller.js"></script> 
        <script src="app/controllers/monitor-controller.js"></script> 
        <script src="app/controllers/index-controller.js"></script> 
        <script src="app/directives/directives.js"></script> 
            
        <!-- Various Game Files --> 
        <script src="js/graph/graph.js"></script>
        <script src="js/graph/priority-queue.js"></script>
        
        <script src="js/pathfinder/pathfinder.js"></script>
            
        <script src="js/game/game.js"></script>
            
        <script src="js/floor/floor_data.js"></script>
        <script src="js/floor/floor.js"></script>
        <script src="js/floor/tile.js"></script>
            
        <script src="js/map/map_data.js"></script>
        <script src="js/map/map.js"></script>
            
        <script src="js/player/player.js"></script>
        <script src="js/spritesheet/spritesheet.js"></script>
        <script src="js/spritesheet/spritesheet_data.js"></script> 
        
        <script src="js/monitor/monitor.js"></script>
        <script src="js/gameboy/gameboy.js"></script>
        
        <script src="js/user-console/user-console.js"></script>
                    
        <!-- Stylesheets and fonts -->  
        <link rel="stylesheet" href="css/gameboy.css">
        <link rel="stylesheet" href="css/style.css">        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        
    <body 
        ng-app="pokemonApp" 
        ng-controller="indexController"
        ng-class="{ 'no-scroll-mobile': about.visible }">
        <div 
            class="body-container">
            <!-- 
                /* (GH) Extra extra small devices (portrait) (phones, less than 480px) */
                    
                /* Extra small devices (phones, less than 768px) */
                    
                /* Small devices (tablets, 768px and up) */
                    
                /* Medium devices (desktops, 992px and up) */
                    
                /* Large devices (large desktops, 1200px and up) */
            -->
            <div class="breakpoints">
                <div class="small"></div>
                <div class="medium"></div>
                <div class="large"></div>
            </div>
            <header>
                
                
                
            </header>
                
            <nav 
                class="navbar navbar-default"
                ng-class="{ 'centered' : !viewswitcher.visible, 'fixed': about.visible }">
                <div class="container-fluid">
                    <div class="menu-container" 
                         ng-class="{ 'clicked' : panel.open }"
                         ng-click="toggleSidePanel()" >
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                    </div>
                    <div class="brand-container">
                        <a class="navbar-brand" href="#/"><img class="header logo" src="images/logos/logo-poke-pathfinder.png" alt=""/></a>
                    </div>
                    <div class="links-container">
                        <ul class="links pull-right">
                            <li 
                                class="active"
                                ng-click="toggleAbout()"><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
                
                
            <div class="image-files" style="display: none">
                <img id="spritesheet" class="image-file" src="images/spritesheets/spritesheet.png" alt>
                    
                <img id="rocklayer" class="image-file"  src="images/map/rocklayer.png" alt>
                    
                <img id="waterlayer-0" class="image-file"  src="images/map/waterlayer-0.png" alt>
                <img id="waterlayer-1" class="image-file"  src="images/map/waterlayer-1.png" alt>
                <img id="waterlayer-2" class="image-file"  src="images/map/waterlayer-2.png" alt>
                <img id="waterlayer-3" class="image-file"  src="images/map/waterlayer-3.png" alt>
                <img id="waterlayer-4" class="image-file"  src="images/map/waterlayer-4.png" alt>
                <img id="waterlayer-5" class="image-file"  src="images/map/waterlayer-5.png" alt>
                <img id="waterlayer-6" class="image-file"  src="images/map/waterlayer-6.png" alt>
                <img id="waterlayer-7" class="image-file"  src="images/map/waterlayer-7.png" alt>
                    
                <img id="transition" class="image-file"  src="images/map/transition.png" alt>
                    
                <img id="F1-background" class="image-file"  src="images/map/F1-background.png" alt>
                <img id="F2-background" class="image-file"  src="images/map/F2-background.png" alt>
                <img id="BF1-background" class="image-file"  src="images/map/BF1-background.png" alt>
                    
                <img id="F1-foreground" class="image-file"  src="images/map/F1-foreground.png" alt>
                <img id="BF1-foreground" class="image-file"  src="images/map/BF1-foreground.png" alt>
            </div>
                
            <div class="content">
                <div class="container-fluid">
                    <div ng-include
                         onload="enableScrollEffect()"        
                         src="'app/pages/about.html'"></div>
                    <div class="side-panel panel-closed" ng-class="cssSidePanel()" set-class-when-at-top="fix-to-top">
                        <div class="row">
                            <div col="col-xs-12">
                                <div user-console></div>      
                            </div>
                        </div>
                    </div>
                    <div 
                        class="overlay ng-hide" 
                        ng-show="panel.open"
                        ng-click="openSidePanel(false)"></div>
                    
                    <div class="row page-content">
                        <div class="col-xs-12" set-class-when-at-top="col-sm-offet-3">   
                            <div class="info-box">
                                <div class="button" ng-click="toggleHowTo()"><i class="fa fa-info" aria-hidden="true"></i></div>
                                <div class="how-to-play ng-hide" ng-show="howto.show">
                                    <h3>How to Play!</h3>
                                    <ol>
                                        <li>Move by touching or clicking the directional pad, or using the d-pad on your keyboard. 
                                            Hold B to run and press A to switch genders.</li>
                                        <li>See if you can find Mewtwo on your own, or use the side-panel to activate the pathfinder.</li>
                                        <li>Using the pathfinder, you can find a path from any two points in the cave.</li>
                                        <li>Have fun!</li>
                                    </ol>
                                </div>  
                            </div>
                            <div class="view-switch-wrapper ng-hide"
                                 ng-show="viewswitcher.visible">
                                <span 
                                    class="view-name"
                                    ng-class="{ active: views.active === 'gameboy' }">Gameboy</span>
                                <!-- Rounded switch -->
                                <label class="switch">
                                    <input 
                                        type="checkbox"
                                        ng-model="views.active"
                                        ng-change="switchViews()"
                                        ng-false-value="'gameboy'"
                                        ng-true-value="'monitor'">
                                    <div class="slider round"></div>
                                </label>
                                <span 
                                    class="view-name"
                                    ng-class="{ active: views.active === 'monitor' }">Cave</span>
                            </div>
                                
                            <div class="view-animate-container">
                                <div ng-view
                                     class="view-animate"></div>
                            </div>
                        </div> 
                    </div>
                </div> 
                    
                    
            </div>  
                
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-3 col-md-3"><p class="">Poke-Pathfinder. 2017.</p></div>
                        <div class="col-xs-12 col-sm-3 col-md-offset-2 col-md-3"><p class="">Designed and Developed by <a target="_blank" href="http://www.greerhanshaw.com">Greer Hanshaw</a></p></div>
                        <div class="col-xs-offset-3 col-xs-3 col-sm-offset-0 col-sm-3 col-md-2"><p class=""><a target="_blank" href="https://www.linkedin.com/in/greer-hanshaw">LinkedIn</a></p></div>
                            
                        <div class="col-xs-3 col-sm-3 col-md-2"><p class=""><a target="_blank" href="https://github.com/ghanshaw">Github</a></p></div>

                    </div>
                </div>
                    
            </footer>
                
        </div>
    </body>   
</html>