<div class="user-console-wrapper container-fluid">
    <div class="row">
        <div class="col-sm-12"> 
                
            <section>
                <h4 class="section-heading">Step 1: Choose Algorithm</h4>
                <div class="row">
                    <div class="col-xs-12">
                        
                        <select 
                            class="button-flat" 
                            ng-options="option.label 
                                disable when disableAstar(option.id) 
                                for option 
                                in algorithms.options 
                                track by option.id" 
                            ng-model="algorithms.selected"></select>
                                
                    </div>  
                        
                    <section 
                        class="edge-weight-sliders ng-hide"
                        ng-show="showEdgeWeightSliders()">
                        <div class="col-xs-12">
                            <h5 class="text-center weight-header">Change Edge Weights</h5>
                                
                            <h5 class="text-center">Background Tiles</h5>
                            <div class="row row-slider">
                                <div class="col-xs-2 text-center">
                                    {{ edgeWeight.background }}
                                </div>
                                <div class="col-xs-10">
                                    <input type="range" 
                                           name="range" 
                                           ng-model="edgeWeight.background" 
                                           min="{{ edgeWeight.min }}"  
                                           max="{{ edgeWeight.max }}">
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-xs-12">
                            <h5 class="text-center">Foreground Tiles</h5>
                            <div class="row row-slider">
                                <div class="col-xs-2 text-center">
                                    {{ edgeWeight.foreground }}
                                </div>
                                <div class="col-xs-10">
                                    <input type="range" 
                                           name="range" 
                                           ng-model="edgeWeight.foreground" 
                                           min="{{ edgeWeight.min }}"  
                                           max="{{ edgeWeight.max }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h5 class="text-center">Water</h5>
                            <div class="row row-slider">
                                <div class="col-xs-2 text-center">
                                    {{ edgeWeight.water }}
                                </div>
                                <div class="col-xs-10">
                                    <input type="range" 
                                           name="range" 
                                           ng-model="edgeWeight.water" 
                                           min="{{ edgeWeight.min }}"  
                                           max="{{ edgeWeight.max }}">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <hr>
                
            <section>
                <h4 class="section-heading">Step 2: Choose Start Location</h4>
                <div class="row">
                    <div class="col-xs-12">         
                        <select 
                            class="button-flat" 
                            ng-model="locations.source" 
                            ng-options="option.label 
                                for option 
                                in locations.options | filter : hideOptions
                                track by option.id">
                        </select>
                    </div>
                        
                    <div 
                        class="move-pointmarker-container"
                        ng-show="views.active === 'monitor'">
                        <div class="col-xs-12"><p class="or">-or-</p></div>
                        <div class="col-xs-12">   
                            <div class="row marker-buttons">
                                <div class="col-xs-10">                   
                                    <button 
                                        class="button-flat normal-border-width"
                                        ng-click="clickPointMarkerButton('SOURCE')"
                                        ng-class="pointmarker.source.button">Move Source Tile</button>
                                </div>
                                <div class="col-xs-2">   
                                    <button
                                        class="button-flat"
                                        ng-class="pointmarker.source.checkbox"
                                        ng-click="clickPointMarkerCheckbox('SOURCE')">
                                        <i class="fa fa-square-o marker-icon" 
                                           aria-hidden="true" 
                                           ng-show="pointmarker.source.checkbox.active === false"></i>
                                        <i class="fa fa-check-square-o marker-icon" 
                                           aria-hidden="true"
                                           ng-show="pointmarker.source.checkbox.active === true"></i>
                                    </button>
                                    <label>{{ labelPointMarkerCheckbox('SOURCE') }}</label>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
                
            <hr> 
                
            <section>
                <h4 class="section-heading">Step 3: Choose End Location</h4>
                <div class="row">
                    <div class="col-xs-12">         
                        <div>
                            <select 
                                class="button-flat"
                                ng-model="locations.target" 
                                ng-options="option.label 
                                    disable when disableAllTiles(option.id) 
                                    for option 
                                    in locations.options
                                    track by option.id"></select>
                        </div>
                    </div>
                        
                    <div 
                        class="move-pointmarker-container"
                        ng-show="views.active === 'monitor'">
                        <div class="col-xs-12"><p class="or">-or-</p></div>
                        <div class="col-xs-12">   
                            <div class="row marker-buttons">
                                <div class="col-xs-10">                   
                                    <button
                                        class="button-flat normal-border-width"
                                        ng-click="clickPointMarkerButton('TARGET')"
                                        ng-class="pointmarker.target.button">Move Target Tile</button>
                                </div>
                                <div class="col-xs-2">   
                                    <button
                                        class="button-flat"
                                        ng-class="pointmarker.target.checkbox"
                                        ng-click="clickPointMarkerCheckbox('TARGET')">
                                        <i class="fa fa-square-o marker-icon" 
                                           aria-hidden="true" 
                                           ng-show="pointmarker.target.checkbox.active === false"></i>
                                        <i class="fa fa-check-square-o marker-icon" 
                                           aria-hidden="true"
                                           ng-show="pointmarker.target.checkbox.active === true"></i>
                                    </button>
                                    <label>{{ labelPointMarkerCheckbox('TARGET') }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </section>
                
            <hr>  
                
            <section>
                <h4 class="section-heading">Step 4: Choose Task</h4>
                <div class="row">
                    <div class="col-xs-12">         
                        <button 
                            class="button-flat full-width" 
                            ng-click="startPathfinder('FOLLOW PATH'); openSidePanel(false)"
                            ng-class="pathfindertask.path.button">Follow Path</button>               
                    </div>
                        
                    <div class="col-xs-12"><p class="or">-or-</p></div>
                        
                    <div class="col-xs-12">                   
                        <button 
                            class="button-flat"
                            ng-click="startPathfinder('FRONTIER'); openSidePanel(false)"
                            ng-class="pathfindertask.frontier.button">Generate Frontier</button>
                    </div>
                        
                        
                        
                    <div class="col-xs-12">
                        <div class="vcr">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="button-flat normal-border-width"
                                            ng-class="vcr.button.play"
                                            ng-mousedown="pressVCR($event, 'PLAY')">
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="button-flat"
                                            ng-class="vcr.button.pause"
                                            ng-mousedown="pressVCR($event, 'PAUSE')">
                                        <i class="fa fa-pause" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="button-flat"
                                            ng-class="vcr.button.step"
                                            ng-mousedown="pressVCR($event, 'STEP')">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-xs-12">
                        <button 
                            class="button-flat full-width"
                            ng-click="clearPathfinder(); openSidePanel(false)">Clear/Cancel</button>
                    </div>
                        
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Activity Log:</h5>
                                <div class="activity-log">  
                                    <div class="wrapper">
                                        <div 
                                            class="line" 
                                            repeat-end="updateLogHeight()"
                                            ng-bind-html="line"
                                            ng-repeat="line in activity.log track by $index">{{ line }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                        
                </div>
            </section>
                
            <hr>
                
            <section>
                <h4 class="section-heading">Step 5: Choose Layers</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="button-flat"  
                                ng-mouseenter="enterMapStateButton('BITMAP')" 
                                ng-mouseleave="leaveMapStateButton('BITMAP')"
                                ng-click="clickMapStateButton('BITMAP')"
                                ng-class="{ active: mapStateButton.click === 'BITMAP' }" >Bitmap</button>
                                    
                    </div>
                    <div class="col-xs-6">    
                        <button class="button-flat" 
                                ng-mouseenter="enterMapStateButton('GRAPHIC')" 
                                ng-mouseleave="leaveMapStateButton('GRAPHIC')"
                                ng-click="clickMapStateButton('GRAPHIC')"
                                ng-class="{ active: mapStateButton.click === 'GRAPHIC' }" >Graphic</button>
                    </div>  
                        
                    <div class="col-xs-12">   
                        <button class="button-flat"
                                ng-click="clickGridButton()"
                                ng-class="{ active: gridButton.click }" 
                                ng-mouseenter="enterGridButton()" 
                                ng-mouseleave="leaveGridButton()">Grid Lines</button>
                    </div>        
                        
                    <div class="col-xs-6">              
                        <button class="button-flat" 
                                ng-mouseenter="enterPathfinderLayerButton('PATH')"
                                ng-click="clickPathfinderLayerButton('PATH')" 
                                ng-mouseleave="leavePathfinderLayerButton('PATH')" 
                                ng-class="pathfinderlayer.path.button">Path</button>
                    </div>
                        
                    <div class="col-xs-6">   
                        <button class="button-flat" 
                                ng-mouseenter="enterPathfinderLayerButton('FRONTIER')"
                                ng-click="clickPathfinderLayerButton('FRONTIER')" 
                                ng-mouseleave="leavePathfinderLayerButton('FRONTIER')" 
                                ng-class="pathfinderlayer.frontier.button">Frontier</button>
                    </div>
                </div>      
            </section>
                
            <hr>
                
            <section>
                <h4 class="section-heading">Step 6: Choose Speed</h4>
                <div class="row">
                    <div class="col-xs-4 "> 
                        <button class="button-flat"
                                ng-click="clickSpeed(1)"
                                ng-mouseenter="enterSpeed(1)" 
                                ng-mouseleave="leaveSpeed(1)"
                                ng-class="{ active: speed.button.click === 1 }" >1x</button>
                    </div>
                        
                    <div class="col-xs-4"> 
                        <button class="button-flat"
                                ng-click="clickSpeed(2)"
                                ng-mouseenter="enterSpeed(2)" 
                                ng-mouseleave="leaveSpeed(2)"
                                ng-class="{ active: speed.button.click === 2 }" >2x</button>
                    </div>
                        
                    <div class="col-xs-4"> 
                        <button class="button-flat"
                                ng-click="clickSpeed(3)"
                                ng-mouseenter="enterSpeed(3)" 
                                ng-mouseleave="leaveSpeed(3)"
                                ng-class="{ active: speed.button.click === 3 }" >3x</button>
                    </div>
                </div>
            </section>
                
            <hr>
                
            <section>
                <h4 class="section-heading">Step 7: Choose Gender</h4>
                <div class="row">
                    <div class="col-xs-6 col-sm-4"> 
                        <button class="button-flat"
                                ng-click="clickGender('BOY')"
                                ng-mouseenter="enterGender('BOY')" 
                                ng-mouseleave="leaveGender('BOY')"
                                ng-class="{ active: gender.button.click === 'BOY' }" >Male</button>
                    </div>
                    <div class="col-xs-6 col-sm-4"> 
                        <button class="button-flat"
                                ng-click="clickGender('GIRL')"
                                ng-mouseenter="enterGender('GIRL')" 
                                ng-mouseleave="leaveGender('GIRL')"
                                ng-class="{ active: gender.button.click === 'GIRL' }" >Female</button>
                    </div>
                </div>
            </section>
                
            <div class="div-padding"></div>
                
                
        </div>
    </div>
        
</div>