<div>
    
    <div class="row">
        <div class="col-sm-12"> 
            
            <button class="button-3D" ng-click="debugClick()">Debug Button</button>
            <button class="button-3D" ng-click="debugClick2()">Debug Button 2</button>
                
            <section>
                <h4 class="section-heading">Step 1: Choose Algorithm</h4>
                <div class="row">
                    <div class="col-xs-7">
                        
                        <select 
                            class="button-3D" 
                            ng-options="option.label for option in algorithms.options track by option.id" 
                            ng-model="algorithms.selected"></select>
                                
                    </div>    
                </div>
            </section>
            <hr>
                
            <section>
                <h4 class="section-heading">Step 2: Choose Start Location</h4>
                <div class="row">
                    <div class="col-xs-5">         
                        
                        <select 
                            class="button-3D" 
                            ng-model="tiles.sourceTile" 
                            ng-options="tile.label for tile in tiles.options track by tile.id"></select>
                                
                    </div>
                        
                    <div class="col-xs-2"><span>-or-</span></div>
                        
                    <div class="col-xs-5">                   
                        <button 
                            class="button-3D"
                            ng-click="clickSourceTarget('SOURCE')"
                            ng-class="cssScopeTarget('SOURCE')">Click Source Tile</button>
                    </div>
                </div>
            </section>
                
                
            <section>
                <h4>Step 3: Choose End Location</h4>
                <div class="row">
                    <div class="col-xs-5">         
                        <div class="dropdow">
                            <select 
                                class="button-3D" 
                                ng-model="tiles.targetTile" 
                                ng-options="tile.label for tile in tiles.options track by tile.id"></select>
                        </div>
                    </div>
                        
                    <div class="col-xs-2"><span>-or-</span></div>
                        
                    <div class="col-xs-5">                   
                        <button
                            class="button-3D"
                            ng-click="clickSourceTarget('TARGET')"
                            ng-class="cssScopeTarget('TARGET')">Click Target Tile</button>
                    </div>
                </div> 
            </section>
                
                
                
            <section>
                <h4 class="section-heading">Step 4: Choose Behavior</h4>
                <div class="row">
                    <div class="col-xs-5">         
                        <div class="dropdow">
                            <button 
                                class="button-3D full-width" 
                                ng-click="startPathfinder('ROUTER')"
                                ng-class="cssVisualizerRouter()">Follow Route</button>
                        </div>
                    </div>
                        
                    <div class="col-xs-2"><span>-or-</span></div>
                        
                    <div class="col-xs-5">                   
                        <button 
                            class="button-3D"
                            ng-click="startPathfinder('VISUALIZER')"
                            ng-class="cssVisualizerRouter()">Visualize</button>
                    </div>
                    <div class="col-xs-4">
                        <button 
                            class="button-3D full-width"
                            ng-click="clearPathfinder()">Cancel</button>
                    </div>
                </div>
            </section>
                
            <hr>
                
            <section>
                <h4 class="section-heading">Step 4: Choose Layers</h4>
                    
                <button class="button-3D"  
                        ng-mouseenter="enterLayer('BITMAP')" 
                        ng-mouseleave="leaveLayer('BITMAP')"
                        ng-click="clickLayer('BITMAP')"
                        ng-class="{ active: LAYER.click === 'BITMAP' }" >Bitmap Layer</button>
                            
                <button class="button-3D" 
                        ng-mouseenter="enterLayer('GRAPHIC')" 
                        ng-mouseleave="leaveLayer('GRAPHIC')"
                        ng-click="clickLayer('GRAPHIC')"
                        ng-class="{ active: LAYER.click === 'GRAPHIC' }" >Graphic Layer</button>
                            
                <button class="button-3D"
                        ng-click="clickRowsCols()"
                        ng-class="{ active: rowscols.click }" 
                        ng-mouseenter="enterRowsCols()" 
                        ng-mouseleave="leaveRowsCols()">Grid Lines</button>
                            
                            
                <button class="button-3D" 
                        ng-click=""
                        ng-class="" 
                        ng-mouseenter="" 
                        ng-mouseleave="">Path</button>
                            
                <button class="button-3D" 
                        ng-click=""
                        ng-class="" 
                        ng-mouseenter="" 
                        ng-mouseleave="">Visualization</button>
                            
            </section>
            <hr>
                
            <section>
                <h4 class="section-heading">Step 5: Choose Speed</h4>
                <button class="button-3D"
                        ng-click="clickSpeed(1)"
                        ng-mouseenter="enterSpeed(1)" 
                        ng-mouseleave="leaveSpeed(1)"
                        ng-class="{ active: speed.click === 1 }" >1x</button>
                <button class="button-3D"
                        ng-click="clickSpeed(2)"
                        ng-mouseenter="enterSpeed(2)" 
                        ng-mouseleave="leaveSpeed(2)"
                        ng-class="{ active: speed.click === 2 }" >2x</button>
                <button class="button-3D"
                        ng-click="clickSpeed(3)"
                        ng-mouseenter="enterSpeed(3)" 
                        ng-mouseleave="leaveSpeed(3)"
                        ng-class="{ active: speed.click === 3 }" >3x</button>
            </section>
                
            <section>
                <h4 class="section-heading">Step 6: Choose Gender</h4>
                <button class="button-3D"
                        ng-click="clickGender('BOY')"
                        ng-mouseenter="enterGender('BOY')" 
                        ng-mouseleave="leaveGender('BOY')"
                        ng-class="{ active: GENDER.click === 'BOY' }" >Male</button>
                <button class="button-3D"
                        ng-click="clickGender('GIRL')"
                        ng-mouseenter="enterGender('GIRL')" 
                        ng-mouseleave="leaveGender('GIRL')"
                        ng-class="{ active: GENDER.click === 'GIRL' }" >Female</button>
            </section>
                
                
                
                
                
        </div>
    </div>
        
    <hr>
        
        
        
        
</div>